NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LeoV2MsAAAAALq93j1sqFN8y1WzNpHZHUC7PXGU
RECAPTCHA_SECRET_KEY=6LeoV2MsAAAAAH6o_YnnDgcW4fWYhd2Bvb6_WYZo

API_BASE_URL=http://localhost:8080/api

# The uri that next js will use to build the redirect uri
# The one in authentik provider is https://localhost:8080/auth/
NEXTAUTH_URL=https://localhost:8080

OPENID_CLIENT_SECRET=
OPENID_CLIENT_ID=
OPENID_ISSUER=

AUTH_SECRET=