API_BASE_URL=http://localhost:8080/api

# The uri that next js will use to build the redirect uri
# The one in authentik provider is https://localhost:8080/auth/
NEXTAUTH_URL=https://localhost:8080

OPENID_CLIENT_SECRET=
OPENID_CLIENT_ID=
OPENID_ISSUER=

AUTH_SECRET=